creds.csv

!jest.config.js
*.d.ts
node_modules
*.lock
.yarn

# CDK asset staging directory
.cdk.staging
cdk.out

deploy.sh
synth.sh
creds.csv
.vscode
*.js
!frontend-rewrite.js
*.zip
cdk.context.json
**/dist
old

# TODO: remove this from gitignore after implementing layers
resources/